# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/
*.ipa
*.xcarchive

# Python
__pycache__/
*.pyc
node_modules/
extension/lib/sentiment.js
